@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap');

body {
  font-family: 'Spartan', sans-serif;
  background-color: rgba(65, 48, 31, 0.8);
}

h1 {
  text-align: center;
  color: white;
  margin: auto;
  background-color: #ca6702;
  width: 30vw;
  border: 2px solid #e9d8a6;
  border-radius: 10px;
  padding: 15px 0;
}

.containerNewCard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formInput {
  display: flex;
  flex-direction: column;
  font-size: 2.3vh;
  font-weight: 550;
  padding: 5px 0;
}

input[ type = 'checkbox' ] {
  cursor: pointer;
  flex-basis: 40%;
}

.cardBaralho {
  display: flex;
  flex-direction: column;
  justify-content: center;
}